*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#get-your-teams{
    display: none;
}
.mobile-continer{
    display: none;
}
#close-menu{
    display: none;
}
#menu-bar{
    display: none;
}
#close-menu{
    display: none;
}
body{
    background-color:hsl(0, 0%, 100%) ;
}
.navigation{
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 70px;
    
}
#make-remote-mobile{
    display: none;
}
.desktop-logo{
   margin-left: 20px;
   /* transform: scale(0.7); */
}

ul li{
    padding: 0 20px;
    display: inline-block;
    /* height: 50px;
    align-items: center;
    
    display: flex;
    flex-direction: row; */
    justify-content: space-around;
}
.first-container{
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
}
.bars{
    padding: 0 50px;
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 8%);
    font-size: 15px;
}
ul li ul{
    display: flex;
    flex-direction: column;
    /* background-color: brown; */

}
#account{
    display: none;
}
.absolute-one{
    position: absolute;
    margin-top: 1%;
    background-color:hsl(0, 0%, 98%);
    padding: 18px 0px;
    border-radius: 10px;
    margin-left: -4%;
    line-height: 2;
    display:none ;
    transition: all 1s;
}
ol{
    position: absolute;
    margin-top: 1%;
    background-color:hsl(0, 0%, 98%);
    ;
    padding: 18px 0px;
    border-radius: 10px;
    margin-left: -1%;
    line-height: 2;
}
ul li ol{
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    display: none;
}
#arowup{
    display: none;
}
#arrowup-second{
    display: none;
}
.accounts{
    /* background-color: orangered; */
    margin-right: 80px;
}
input:first-child{
    border: none;
    font-size: 15px;
    margin-right: 20px;
    background: none;
    cursor: pointer;
}
input:last-child{
    border: black solid 1.5px;
    height: 40px;
    cursor: pointer;
    /* margin-right: 20px; */
    width: 90px;
    background-color: transparent; 
    border-radius: 10px;
}
.main-image{
    height: 500px;
}
.main-body{
    display: flex;
    justify-content: space-around;
}
.img-div{
    margin-top: 10%;
}
.make-remote{
    margin-top: 40%;
    font-size: 60px;
    font-weight: bolder;
}
.get-your-team{
    margin-top: 10%;
    color: hsl(0, 0%, 41%);
    line-height: 1.5;
}
#learn-input{
    color: white;
    background-color:black;
    width: 130px;
    margin-top: 10%;
    height: 50px;
    font-weight: bolder;
}
#learn-input:hover{
    background: transparent;
    color: black;
}
.svgs{
    margin-top: 27%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10%;
}
.data{
    transform: scale(0.8);
}
.audio{
    transform: scale(0.8);
}
.meet{
    transform: scale(0.6);
}
.maker{
    transform: scale(0.7);
}
.first-flex{
    margin-left: 2%;
}
#image-mobile{
    display: none;
}

@media (max-width:600px) {
    body{
        background-color:hsla(0, 1%, 86%, 0.171);
    }
    .accounts{
        display:none ;
    }
    #account{
        display: block;

    }
    .main-body{
        display: flex;
        flex-direction: column-reverse;
    }
    .main-image{
        display: none;
    }
    #main-image{
        background-color: red;
        height: 200px;
        width: 20px;
    }
    #image-mobile{
        display: block;
        height: 290px;
        width: 100%;
        margin-top: -5%;
    }
    .navigation{
        margin-top: 80px;
        display: none;
    }
    #menu-bar{
        display: block;
        position: absolute;
        margin-left: 85%;
    }
    .mobile-continer{
        display: block;
    }
    .header-nav{
        display: flex;
        justify-content: space-between;
        margin-top: 7%;
    }

    ul li{
        display: block;
    }
    #login{
        border: none;
    }
    #register{
        width: 160px;
    }
    .closenav{
        margin-left: 30%;
    }
    #navbars{
        position: fixed;
        transition: 1.5s;
        top: 0;
        right: 0;
        width: 0; 
        background-color: white;
        height: 100%;
        padding-top: 60px;
        z-index: 1;
        line-height: 2;
        overflow-x: hidden;
        margin-left: 5%;
    }
    #second-dropdown-menu{
        /* background-color: pink;
        border-radius: 15px; */
        display: none;
    }
    #second-second-drop-menu{
        /* background-color: pink;
        border-radius: 15px; */
        display: none;
    }
    .closenavs{
        margin-left: 70%;
    }
    #arrowup-second-m{
        display: none;
    }
    #arrowup-second-mobile{
        display: none;
    }
    .logo{
        margin-left: 19%;
    }
    #icon-menu{
        padding-right: 20px;

    }
    .make-remote{
        display: none;
    }
    #make-remote-mobile{
        display: block;
        text-align: center;
        margin-top: 15%;
        font-size: 42px;
        font-weight: 900;
    }

    .get-your-team{
        text-align: center;
        display: none;
    }
    #get-your-teams{
        display: block;
        text-align: center;
        margin-top: 7%;
        font-size: 20px;
        color: hsl(0, 0%, 41%);
        line-height: 1.5;
    }
    #learn-input{
        /* background-color: orangered; */
        margin-left: 34%;
    }
    .svgs{
        margin-top: 50px;
        padding-bottom: 60px;
    }
    
}